* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  margin: 0;
  overflow: hidden;
  background: #222;
  color: #fff;
  font-family: sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#information {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}

#information strong {
  font-size: 25px;
}

#buttonHolder {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  top: 10px;
  right: 10px;
  gap: 5px;
}

#buttonHolder button {
  color: #222;
  font-size: 14px;
  padding: 5px;
  margin: none;
  cursor: pointer;
  background-color: #dcdcdc;
  border: 2px solid #858585;
  border-radius: 5px;
  word-wrap: normal;
  will-change: padding;
  transition: padding 0.2s ease;
}

#buttonHolder button:hover {
  padding-left: 10px;
  padding-right: 10px;
}

#gameCanvas {
  border: 5px solid #333;
  border-radius: 10px;
}

.floating-text {
  position: absolute;
  font-size: 18px;
  pointer-events: none;
  opacity: 1;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

div.line {
  height: 2px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3)
}

#perksShop {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  background-color: #424242dc;
  padding: 5px;
  gap: 5px;
  border-radius: 10px;
}

#perksShop #closePerksShop {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: monospace;
  font-size: 25px;
  width: 40px;
  height: 40px;
  background-color: rgb(199, 44, 44);
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#perksShop button {
  color: #222;
  font-size: 16px;
  padding: 6px;
  margin: none;
  cursor: pointer;
  background-color: #dcdcdc;
  border: 2px solid #858585;
  border-radius: 5px;
  will-change: padding;
  transition: padding 0.2s ease;
}

#perksShop button:hover {
  padding-left: 10px;
  padding-right: 10px;
}

:disabled {
  opacity: 0.7;
  pointer-events: none;
}