* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  background: #222;
  color: #fff;
  font-family: sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#information {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}

#information strong {
  font-size: 25px;
}

#buttonHolder {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  top: 10px;
  right: 10px;
  gap: 5px;
}

#buttonHolder button {
  color: #222;
  font-size: 14px;
  padding: 5px;
  margin: none;
  cursor: pointer;
  background-color: #dcdcdc;
  border: 2px solid #858585;
  border-radius: 5px;
  word-wrap: normal;
  will-change: padding;
  transition: padding 0.2s ease;
}

#buttonHolder button:disabled {
  opacity: 0.7;
  pointer-events: none;
}

#buttonHolder button:hover {
  padding-left: 10px;
  padding-right: 10px;
}

#gameCanvas {
  border: 5px solid #333;
  border-radius: 10px;
}

.floating-text {
  position: absolute;
  font-size: 18px;
  pointer-events: none;
  opacity: 1;
  transition: transform 1s ease-out, opacity 1s ease-out;
}
